* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
}

.app-info {
    margin: 40px 20px;
    padding: 40px 40px;
    background-color: #FFF3F3;
    width: 50%;
    border-radius: 18px;
}

.logo {
    /* margin-top: 20px; */
}

.logo img {
    width: 100px;
    height: 100px;
}

.heading {
    font-size: 50px;
    font-weight: 700;
    color: #F96B6B;
}

.description {
    font-size: 24px;
}

.btn-container {
    margin-top: 100px;
    margin-left: 20px;
}

.btn {
    color: white;
    background-color: #FF8D35;
    border-radius: 18px;
    outline: none;
    text-decoration: none;
    padding: 20px 40px;
    font-size: 22px;
    transition: 200ms;
}

.btn:hover {
    color: white;
    background-color: #000;
}

.btn:active {
    color: white;
    background-color: #FF8D35;
}

.links-container {
    margin-top: 100px;
    margin-left: 20px;
}

.link {
    outline: none;
    text-decoration: none;
    color: #000000;
    transition: 200ms;
    margin-left: 30px;
    font-size: 22px;
}

.link:hover {
    color: #FF8D35;
}

.link:active {
    color: #777777;
}

@media only screen and (max-width: 600px) {

    .container {
        height: 100vh;
        width: 100%;
        background-repeat: repeat;
        background-position: center;
    }

    .app-info {
        margin: 40px 20px;
        padding: 20px;
        width: auto;
    }

  

    .btn-container {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .btn {
        width: auto;
        display: block;
        text-align: center;
    }

    
    .link {
      
        margin-left: 20px;
    }

}